.react-select__control,
.react-select__menu,
.react-select__option {
  background-color: var(--primary-bg-color);
}

.react-select__control--is-focused {
  box-shadow: 0 0 0 1px var(--primary-color);
}

.react-select__control--is-focused,
.react-select__control--is-focused:hover {
  border-color: var(--primary-color);
}

/* Options */
.react-select__single-value {
  color: var(--primary-text-color);
}

.react-select__option:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.react-select__option--is-selected,
.react-select__option--is-selected:hover {
  color: var(--on-primary-color);
  background-color: var(--primary-color);
}