.userDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoutBtn {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  background-color: var(--logout-btn-color);
}

.link {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.link:hover {
  color: var(--orange-color);
}

.link:active {
  opacity: 0.8;
}