.button {
  border-radius: 1rem;
  transition:
    transform 0.2s ease-in,
    opacity 0.1s linear;
}

.button:hover {
  transform: scale(1.025);
}

.button:active {
  opacity: 0.7;
}

.button.disabled {
  cursor: default;
  pointer-events: none;
  background-color: var(--disabled-btn-color);
}

.button.disabled:hover {
  transform: scale(1);
}

.button.disabled:active {
  opacity: 1;
}