.user-details {
  display: flex;
  gap: 1rem;
  text-align: right;
}

.user-details__avatar {
  order: 2;
}

.user-details__login {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title-color);
}

.user-details__email {
  font-size: 1.25rem;
  font-weight: 500;
}