.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  margin: 0 auto;
  max-width: 35rem;

  border-radius: 1rem;
  background-color: var(--primary-bg-color);
}

.title {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.submit {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--action-primary-color);
}

.captchaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.captcha {
  border-radius: 1rem;
  margin-top: 1rem;
}

.formError {
  margin-top: 1rem;
  font-size: 1.15rem;
  color: var(--error-color);
}