.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1.5rem;
  margin: 0 auto;
  max-width: 35rem;

  border-radius: 1rem;
  background-color: var(--primary-bg-color);
}

.title {
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.submit {
  width: 100%;
  margin-top: 1rem;
  padding: 0.35rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--on-primary-color);
  background-color: var(--action-primary-color);
}

.captchaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.captcha {
  border-radius: 1rem;
  margin-top: 1rem;
}

.formError {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--error-color);
}

@media (max-width: 768px) {
  .form {
    padding: 1rem;
  }

  .title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  .submit {
    margin-top: 0.75rem;
    padding: 0.25rem 1rem;
    font-size: 1.1rem;
  }

  .captcha {
    margin-top: 0.75rem;
  }

  .formError {
    margin-top: 0.75rem;
    font-size: 1rem;
  }
}