.card {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 6rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.content {
  width: 100%;
  height: round(down, 12vh, 1px);
  border-radius: 1rem;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--skeleton-base-color);
  }

  100% {
    background-color: var(--skeleton-highlight-color);
  }
}

@media (max-width: 960px) {
  .card {
    gap: 1.25rem;
  }

  .content {
    height: round(down, 9.5vh, 1px);
  }

  .avatar {
    width: 5rem;
  }
}

@media (max-width: 768px) {
  .card {
    gap: 0.75rem;
  }

  .content {
    height: round(down, 8.5vh, 1px);
  }

  .avatar {
    width: 4rem;
  }
}