.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2rem;
}

.input {
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.error {
  font-size: 1rem;
  margin-top: 0.25rem;
  color: var(--error-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-family: 'Gilroy';
  border: none;
  -webkit-text-fill-color: var(--primary-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-bg-color) inset;
  caret-color: var(--primary-text-color);
  transition: background-color 5000s ease-in-out 0s;
}

@media (max-width: 960px) {
  .inputWrapper {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .inputWrapper {
    font-size: 1rem;
  }

  .input {
    padding: 0.35rem 0.5rem;
  }

  .error {
    font-size: 0.875rem;
  }
}