.list {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0;
  gap: 0.5rem;
  height: 100%;
}

.list> :first-child {
  margin-top: auto;
}

.noData {
  height: 100%;
  align-items: center;
}

.bottomList {
  padding-top: 0.75rem;
}

@media (max-width: 768px) {
  .list {
    padding: 0.5rem 0.5rem 0;
  }

}