.list {
  padding: 1rem 1rem 0;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.scrollContainer {
  margin-top: auto;
  position: relative;
  width: 100%;
}

.itemsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.item {
  margin: 0.5rem 0;
}

.noData {
  height: 100%;
  align-items: center;
}


@media (max-width: 768px) {
  .list {
    padding: 0.5rem 0.5rem 0;
  }
}