.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputPhoto {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color .45s;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .2s;
  text-align: center;
}

.inputPhoto:hover {
  background-color: rgba(0, 0, 0, .5);
}

.inputPhoto:hover .iconWrapper {
  opacity: 1;
}

/* Disabled */
.inputPhoto.disabled {
  background-color: rgba(0, 0, 0, .5);
}

.inputPhoto.disabled .iconWrapper {
  opacity: 1;
}

.loader {
  color: var(--default-icon-color);
}