.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.25rem;
  font-size: 1.15rem;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
  box-sizing: content-box;
}

.submit {
  background-color: var(--success-color);
}

.cancel {
  background-color: var(--action-primary-color);
}

@media (max-width: 1280px) {
  .form {
    max-width: 75%;
  }

  .button {
    padding: 0.15rem;
  }
}

@media (max-width: 960px) {
  .form {
    max-width: 100%;
  }

  .button {
    width: 1.45rem;
    height: 1.45rem;
    padding: 0.2rem;
  }
}