.container {
  min-height: 2rem;
}

.label {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.status {
  pointer-events: none;
  line-height: 1.85rem;
  font-size: 1.15rem;
  transition: .2s ease-in;
}

.status.editable {
  pointer-events: all;
}

.status.editable:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loaderContainer {
  text-align: left;
}