.container {
  min-height: 2rem;
}

.status {
  pointer-events: none;
  line-height: 1.85rem;
  font-size: 1.15rem;
  transition: .2s ease-in;
}

.status.editable {
  pointer-events: all;
}

.status.editable:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loaderContainer {
  max-width: 2rem;
  text-align: left;
}

.loader {
  height: 1.5rem;
}

@media (max-width: 1280px) {
  .container {
    min-height: 1.5rem;
  }

  .status {
    font-size: 1rem;
    line-height: 1.35rem;
  }
}

@media (max-width: 768px) {
  .loader {
    height: 1rem;
  }

  .container {
    min-height: 1.35rem;
  }

  .status {
    font-size: 0.95rem;
    line-height: 1.2rem;
  }
}