.form {
  display: flex;
  align-items: center;
  margin: 0.75rem 1rem;
}

.textareaContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-bg-color);
  border-radius: 1.25rem;
  padding: 0.25rem 0.5rem;
}

.submit {
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  margin: 0.35rem;
  border-radius: 50%;
  background-color: var(--success-color);
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .textareaContainer {
    gap: 0.25rem;
  }

  .submit {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.25rem;
  }
}