.container {
  width: 100%;
}

.element_invalid {
  border: 1px solid var(--error-color);
  margin-bottom: 0.25rem;
}

.element__error {
  font-size: 1rem;
  color: var(--error-color);
}

.formErrorText {
  font-size: 1.25rem;
  color: var(--error-color);
}