.card {
  display: flex;
  align-items: center;
}

.header,
.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-break: break-word;
}

.header {
  justify-content: center;
  align-items: center;
  min-width: 10rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--primary-bg-color);
}

.name {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.status {
  font-size: 1.25rem;
}

.actions {
  display: flex;
  gap: 0.75rem;
}

.actions button {
  width: 3rem;
  height: 3rem;
}