.list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  height: 100%;
}

.list> :first-child {
  margin-top: auto;
}

.noData {
  height: 100%;
  align-items: center;
}

.loadMore {
  font-size: 1.25rem;
  color: var(--hint-color);
  text-align: center;
}