.actions {
  display: flex;
  gap: 0.5rem;
}

.button {
  padding: 0.25rem 0.75rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--on-primary-color);
}

.openProfileBtn {
  background-color: var(--action-primary-color);
}

.startDialogBtn {
  background-color: var(--success-color);
}