.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.15rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
}

.icon {
  color: var(--secondary-text-color);
}

@media (max-width: 768px) {
  .icon {
    width: 1.45rem;
  }

  .button {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
  }
}