.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  background-color: var(--primary-text-color);
}

.icon {
  color: var(--secondary-text-color);
}

@media (max-width: 768px) {
  .icon {
    width: 1.45rem;
  }
}