.status {
  font-size: 1.25rem;
  line-height: 1.35;
}

.status__label {
  font-weight: 500;
  color: var(--lighten-orange-color);
}

.status__input {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--primary-color);
  background-color: var(--theme-primary-color);
}