.scrollButton {
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity .25s;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity .25s;
}