.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .15s linear;
  text-decoration: none;
}

.linkText {
  font-size: 1.7rem;
  color: var(--primary-text-color);
  transition: .15s linear;
}

.link:hover:not(.active) .linkText {
  color: var(--link-color-active);
  transform: translateX(0.5rem);
}

.link:active:not(.active) {
  opacity: 0.8;
}

.active .linkText {
  color: var(--link-color-active);
}

@media (max-width: 1280px) {
  .linkText {
    font-size: 1.45rem;
  }
}

@media (max-width: 768px) {
  .linkText {
    font-size: 1.15rem;
  }
}