.container {
  width: 100%;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--subtitle-color);
}

.data {
  margin-top: 0.25rem;
}

@media (max-width: 1280px) {
  .username {
    font-size: 1.35rem;
  }
}

@media (max-width: 768px) {
  .username {
    font-size: 1.15rem;
  }
}