.pagination {
  display: flex;
  gap: 0.25rem;
  margin: 0 auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;

  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 50%;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  transition: opacity 0.15s ease-in-out;
  user-select: none;
}

.item:hover {
  opacity: 0.8;
}

.item:active {
  opacity: 0.6;
}

.item.active {
  cursor: default;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
}

.item.active:hover,
.item.active:active {
  pointer-events: none;
  opacity: 1;
}