.pagination {
  display: flex;
  gap: 0.35rem;
  margin: 0 auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  flex-shrink: 0;
  min-width: 2.5rem;
  height: 2.5rem;

  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-text-color);

  border-radius: 50%;
  background-color: var(--primary-bg-color);
  transition: opacity 0.15s ease-in-out;
  user-select: none;
}

.item:hover {
  opacity: 0.8;
}

.item:active {
  opacity: 0.6;
}

.item.active {
  cursor: default;
  color: var(--on-primary-color);
  background-color: var(--primary-color);
}

.item.active:hover,
.item.active:active {
  pointer-events: none;
  opacity: 1;
}

@media (max-width: 768px) {
  .pagination {
    gap: 0.25rem;
  }

  .item {
    font-size: 1rem;
    min-width: 2rem;
    height: 2rem;
  }
}