.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.15rem;
  font-size: 0.875rem;
}

.icon {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .container {
    gap: 0.25rem;
  }

  .messageTime {
    font-size: 0.75rem;
  }
}