.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--border-divider-line);
}