.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: h;

  padding: 1rem var(--side-padding);
  background-color: var(--theme-primary-color);
}

.logo {
  width: 4rem;
  animation: logoRotate 12s linear infinite;
}

.link {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.link:hover {
  color: var(--title-color);
}

.link:active {
  opacity: 0.8;
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logout {
  padding: 0.65rem;
  background-color: var(--logout-btn-color);
  border-radius: 0.75rem;
}

.logout img {
  width: 2rem;
  height: 2rem;
}

@keyframes logoRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}