.nav {
  display: flex;
  flex-direction: column;
  padding: 2rem var(--side-padding);

  grid-area: n;
  background-color: var(--theme-primary-color);
}

.links {
  display: flex;
  flex-direction: column;
}

.links {
  margin-bottom: 2rem;
}

.link {
  color: var(--primary-color);
  font-size: 1.75rem;
  transition: all 0.1s linear;
  text-decoration: none;
}

.link:hover:not(.active) {
  color: var(--link-color-active);
  transform: translateX(0.5rem);
}

.link:active:not(.active) {
  opacity: 0.8;
}

.link.active {
  color: var(--link-color-active);
}

.friends {
  margin-top: 3rem;
}
