.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.35rem;
  padding: 1rem 0.5rem;
}

.button {
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: var(--success-color);
  background-color: transparent;
}

.button:hover {
  transform: none;
  text-decoration: underline;
}