.pagination {
  display: flex;
  gap: 0.25rem;
  margin: 0 auto;
}

.pagination__item {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;

  padding: 0.5rem 1rem;
  border-radius: 50%;
  background-color: var(--theme-primary-color);
  transition: opacity 0.1s linear;
}

.pagination__item:hover {
  opacity: 0.8;
}

.pagination__item:active {
  opacity: 0.6;
}

.pagination__item.active {
  cursor: default;
  background-color: var(--orange-color);
}

.pagination__item.active:hover,
.pagination__item.active:active {
  pointer-events: none;
  opacity: 1;
}