.dialog {
  display: flex;
  cursor: pointer;

  padding: 0.75rem 1rem; 
  border-radius: 0.75rem;
  background-color: var(--theme-primary-color);
  transition: opacity .2s;
}

.dialog:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userName {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary-color);
}

.dialog.active {
  pointer-events: none;
  cursor: default;
}

.dialog.active .userName {
  color: var(--orange-color);
}