.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 18rem;
  height: 100%;
  padding: 2rem;
  background-color: var(--primary-bg-color);
  z-index: 2;
  transform: translateX(-100%);
  transition: .25s ease-in-out;
}

.sidebar.active {
  transform: translateX(0);
}

.nav {
  display: flex;
  flex-direction: column;
}

.links {
  margin-bottom: 3rem;
}