.contacts {
  margin-top: 1rem;
}

.title {
  margin-bottom: 0.5rem;
  font-size: 1.35rem;
  font-weight: 600;
  color: var(--subtitle-color);
}

@media (max-width: 1280px) {
  .title {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .contacts {
    margin-top: 0.5rem;
  }

  .title {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }
}