.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: var(--primary-bg-color);
}

.body {
  height: 60vh;
  overflow-y: auto;
}