.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 6rem 1fr;
  grid-template-columns: 3fr 11fr;

  font-family: 'Gilroy';
  color: var(--primary-color);
  height: 100vh;
}

.app-wrapper-content {
  padding: 2rem var(--side-padding);
  grid-area: c;
  background-color: var(--theme-secondary-color);
}