.search {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: var(--primary-bg-color);
}

.filterIcon {
  color: var(--primary-text-color);
}

.filterBtn {
  background-color: transparent;
}

.filterBtn:hover {
  transform: none;
}

.filterBtn:hover .filterIcon {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .search {
    padding: 0.25rem 0.75rem;
  }
}