.search {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: var(--theme-primary-color);
}

.filterIcon {
  color: var(--primary-color);
}

.filterBtn {
  background-color: transparent;
}

.filterBtn:hover .filterIcon {
  color: var(--search-primary-color);
}

.filterBtn:active {
  opacity: 0.8;
}