.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.label {
  font-size: 1.35rem;
  font-weight: 500;
  text-align: center;
  color: var(--hint-color);
}

@media (max-width: 1280px) {
  .label {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .label {
    font-size: 1.2rem;
  }
}