.iconButton {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  border-radius: 50%;
  flex-shrink: 0;
}

@media (max-width: 1280px) {
  .iconButton {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    box-sizing: content-box;
  }
}

@media (max-width: 768px) {
  .iconButton {
    width: 1.4rem;
    height: 1.4rem;
    padding: 0.4rem;
  }
}