.inputContainer {
  display: flex;
  width: 100%;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--primary-bg-color);
}

.input {
  width: 100%;
  font-size: 1.15rem;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.input::placeholder {
  color: var(--search-placeholder-color);
}

.input:focus {
  caret-color: var(--search-primary-color);
}

.inputContainer:focus-within .icon {
  color: var(--search-primary-color);
}