.posts-container__title {
  margin: 0 0 1rem;
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--title-color);
}

.new-post-container {
  margin: 1rem 0 2rem;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}